

$g1Red:#c4170c;
$g1TitleFontFamily:  opensans, opensans-bastian, Arial, sans-serif;

.r7-bad-blocker-helper {
  .header {
    .header-wrap {
      z-index: 1000;
    }
  }
}

.r7-top-news {
  .bad-blocker-post-substitute {
    background-color: #f8f8f8
  }
}